:root{
    --main-dark: hsl(233, 47%, 7%);
    --main-blue: hsl(244, 38%, 16%);
    --main-violet: hsl(277, 64%, 61%);
    --neutral-white: hsl(0, 0%, 100%);
    --slightly-white: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent: hsla(0, 0%, 100%, 0.6);
}
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    background-color: var(--main-dark);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 34rem;
    height: 74rem;
    background-color: var(--main-blue);
    border-radius: 10px;
}
.main-image{
    width: 100%;
    height: 30%;
    background-color: var(--main-violet);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 4rem;
}
.main-image img:nth-child(1){
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.40;
}
.main-image img:nth-child(2){
    opacity: 0;
}
.container-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-bottom: 4rem;
}
.container-details h1{
    color: var(--neutral-white);
    font-size: 2.8rem;
    margin-bottom: 1.8rem;
}
.container-details span{
    color: var(--main-violet);
}
.container-details p{
    color: var(--slightly-white);
    line-height: 1.5;
}
.container-stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
}
.container-stats h1{
    font-size: 1.8rem;
    color: var(--neutral-white);
    margin-bottom: 0.6rem;
}
.container-stats p{
    text-transform: uppercase;
    color: var(--slightly-transparent);
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 2.4rem;
}
@media (min-width: 1000px){
    .container{
        width: 88rem;
        height: 44rem;
        display: flex;
        flex-direction: row;
    }
    .container-details{
        text-align: left;
        margin-bottom: 8rem;
    }
    .main-image{
        order: 2;
        height: 100%;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 10px;
    }
    .main-image img:nth-child(1){
        opacity: 0;
        display: none;
        width: 44rem;
    }
    .main-image img:nth-child(2){
        opacity: 0.40;
        height: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 10px;
        width: 100%;
    }
    .container-stats{
        flex-direction: row;
        flex-wrap: wrap;
        height: 7rem;
        align-self: flex-start;
        margin-left: 4.4rem;
        width: 80%;
    }
    .container-stats h1{
        margin-bottom: 0rem;
    }
    .one{
        order: 1;
        width: calc(100%/3);
    }
    .two{
        order: 2;
        width: calc(100%/3);
    }
    .three{
        order: 3;
        width: calc(100%/3);
    }
    .companies{
        order: 4;
        width: calc(100%/3);
    }
    .templates{
        order: 5;
        width: calc(100%/3);
    }
    .queries{
        order: 6;
        width: calc(100%/3);
    }
}